@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
  --orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

body {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--transparent-white);
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 0;
}

.column {
  width: 305px;
}

.button {
  background-color: var(--light-gray);
  border: 2px solid var(--light-gray);
  border-radius: 50px;
  padding: 10px 30px;
  color: inherit;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.button:hover,
.button:active {
  background-color: transparent;
  color: var(--light-gray);
}

.card {
  padding: 50px;
  &--orange {
    background-color: var(--orange);
  }
  &--dark-cyan {
    background-color: var(--dark-cyan);
  }
  &--very-dark-cyan {
    background-color: var(--very-dark-cyan);
  }
  &__title {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    color: var(--light-gray);
    text-transform: uppercase;
    padding: 30px 0;
  }
  &__body {
    color: var(--transparent-white);
    padding-bottom: 90px;
    line-height: 1.7em;
    width: 100%;
    font-size: 14.7px;
  }
  &__button {
    padding: 20px 0;
    &--orange {
      color: var(--orange);
    }
    &--dark-cyan {
      color: var(--dark-cyan);
    }
    &--very-dark-cyan {
      color: var(--very-dark-cyan);
    }
  }
  &:first-child {
    border-radius: 10px 0 0 10px;
  }
  &:last-child {
    border-radius: 0 10px 10px 0;
  }
}

@media (max-width: 900px) {
  .column {
    width: 325px;
  }
  .row {
    flex-direction: column;
  }
  .card {
    &__body {
      padding-bottom: 30px;
    }
    &:first-child {
      border-radius: 10px 10px 0 0;
    }
    &:last-child {
      border-radius: 0 0 10px 10px;
    }
  }
}
